@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

.navbar{
	border-radius: 0px !important; 
	margin-bottom: 0px !important; 
}

.navbar-brand{
	color: white !important;
	font-family: 'Montserrat', sans-serif;
}
.navbar-nav{
	margin: 7.5px -15px !important;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 80px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.dropdown{
	font-family: 'Montserrat', sans-serif;
}

body{
	font-family: 'Montserrat', sans-serif !important;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: black !important;
    text-indent: 20px;
    font-family: inherit;
    font-size: inherit;
}

.btn-link:hover{
	text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}