.title{
	margin-top: 20px; 
	text-align: center; 
	font-weight: bold;
}

.no-report{
	font-size: 20px; 
	margin-top: 30px; 
	text-align: center;
}

.report-card{
	font-size: 16px; 
}
.report-card pre{
	font-size: 16px !important; 
}
.report-card pre, input, label, a, button {
	margin-bottom: 15px !important;
}

.report-error{
	font-size: 15px; 
	font-weight: bold; 
	color: red; 
	margin: 15px;
	text-align: center;
}

.report-content{
	font-size: 15px !important;
	margin: 20px;
}

.report-card-pre{
	font-family: inherit !important; 
	font-size: 15px !important;
}

.report-form{
	font-size: 16px !important;
}

.form-group textarea{
	font-size: 15px !important;
}

.modal-title{
	font-weight: bold; 
}

.form-button-inline{
	display: inline-block;
}